<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
	bootstrap="./Bootstrap.php"
	colors="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false">
	<testsuites>
        <testsuite name="Pyrocms Module Test Suite">
            <files>*.php </files>
        </testsuite>
	</testsuites>
	<filters>
		<blacklist>
			<directory suffix=".php">PEAR_INSTALL_DIR</directory>
			<directory suffix=".php">PHP_LIBDIR</directory>
		</blacklist>
	</filters>
</phpunit>
