<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
	bootstrap="./Bootstrap.php"
	colors="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false">
	<testsuites>
        <testsuite name="Module_Tests">
          <directory suffix="pTest.php">.</directory>
        </testsuite>
	</testsuites>
</phpunit>
