//
// Pyro Style for Extending Bootstrap
// --------------------------------------------------

// !Selection Colors

::selection {
	background:@selectionHighlight;/* Safari */
	color:@white;
	text-shadow: none;
}

::-moz-selection {
	background:@selectionHighlight;/* Firefox */
	color:@white;
	text-shadow: none;
}

// Navigation
.navbar .brand {
	display: inline-block;
	position: relative;
	margin-left: -5px;
	padding-top: 26px;
}

.navbar .btn-navbar{
	-webkit-tap-highlight-color: transparent;
}

.navbar .brand span#logo {
	display: inline-block;
	width: 125px;
	height: 39px;
  color: transparent;
  background: url(@pyro-logo) no-repeat;
}

// Translation Flags

ul#lang {
  padding: ((@navbar-height - @line-height-base) / 2) 20px ((@navbar-height - @line-height-base) / 2);
	text-align:right;
	color:@grayDark;
}

ul#lang li {
	display:inline-block;
	list-style:none;
	margin-left:5px;
}

ul#lang li a img {
	height: 32px;
	width: 32px;
}

// Installer Steps

section#steps {
	//height:35px;
	//margin:75px 0 0;
	//padding:0 15px;
}

section#steps ul li {
	list-style:none;
	float:left;
	color:@gray;
	text-shadow:0 1px 0 @white;
	font-weight:700;
	margin:10px 0 0;
}

/*
nav#menu ul li a {
	color:@gray;
	margin-left:15px;
	position:relative;
	z-index:999;
}
*/

section#steps span {
	display: block;
	width: 100px;
	height: 100px;
	margin: 10px 0;
	text-align: center;
	line-height: 100px;
	background: #2b2b2b;
	border: 4px solid #3b3b3b;
	.border-radius(@border-radius-circle);
	.transition(all 1s ease-in-out);
}

#installer .progress {
	overflow:hidden;
	height:4px;
	margin-top:20px;
	background-color:@grayDarker;
	background-image:-moz-linear-gradient(top,@grayDarker,@grayDarker);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(@grayDarker),to(@grayDarker));
	background-image:-webkit-linear-gradient(top,@grayDarker,@grayDarker);
	background-image:-o-linear-gradient(top,@grayDarker,@grayDarker);
	background-image:linear-gradient(to bottom,@grayDarker,@grayDarker);
	background-repeat:repeat-x;
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}

#installer .progress .bar {
	height: 100%;
}

section.title {
	padding:0 15px;
	margin-top:25px;
	/*
background:#f7f7f7;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear,left top,left bottom,from(#f7f7f7),to(#f3f3f3));
	background-image:-moz-linear-gradient(#f7f7f7,#f3f3f3);
	background-image:-ms-linear-gradient(#f7f7f7,#f3f3f3);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f7f7f7),color-stop(100%,#f3f3f3));
	background-image:-webkit-linear-gradient(#f7f7f7,#f3f3f3);
	background-image:-o-linear-gradient(#f7f7f7,#f3f3f3);
	background-image:linear-gradient(#f7f7f7,#f3f3f3);
	border:1px solid @white;
	border-bottom:1px solid #eee;
*/
}

section.title h3,section.title h3 a {
	color:@white;
	font-size:16px;
}

section.item {
	min-height:50px;
	margin:0;
	padding:16px;
}

.btn-install {
	display: inline-block;
	height: 30px;
	width: 100px;
	padding: 5px 10px;
	text-align: center;
	cursor: pointer;
	color: white;
	font-size: 13px;
	line-height: 30px;
	text-shadow: 0 1px 0px #424242;
	border: 1px solid #222;
	background-color: #222;
	background-repeat: repeat-x;
	background-image: url(@background-grain), -webkit-gradient(linear,left top,left bottom,color-stop(0%,#5f6569),color-stop(100%,#45494c));
	background-image: url(@background-grain), -webkit-linear-gradient(top,#5f6569,#45494c);
	background-image: url(@background-grain), -moz-linear-gradient(top,#5f6569,#45494c);
	background-image: url(@background-grain), -ms-linear-gradient(top,#5f6569,#45494c);
	background-image: url(@background-grain), -o-linear-gradient(top,#5f6569,#45494c);
	background-image: url(@background-grain), linear-gradient(top,#5f6569,#45494c);
	.border-radius(6px);
	.background-clip(padding-box);
	.box-shadow(~"inset 0 1px 0 0 rgba(255,255,255,0.2), 0 1px 0px 0 rgba(255,255,255,0.1)");
	.transition(0ms linear all);
	-webkit-tap-highlight-color: transparent;
	&:hover {
		color: white;
		text-shadow: 0 -2px 0px #111;
		text-decoration: none;
		background-image:url(@background-grain), -webkit-gradient(linear,left top,left bottom,color-stop(0%,#35383b),color-stop(100%,#474B4E));
		background-image:url(@background-grain), -webkit-linear-gradient(top,#35383b,#474B4E);
		background-image:url(@background-grain), -moz-linear-gradient(top,#35383b,#474B4E);
		background-image:url(@background-grain), -ms-linear-gradient(top,#35383b,#474B4E);
		background-image:url(@background-grain), -o-linear-gradient(top,#35383b,#474B4E);
		background-image:url(@background-grain), linear-gradient(top,#35383b,#474B4E);
		background-position: 0 0;
		.box-shadow(~"inset 0 2px 4px 0 rgba(0,0,0,0.8), 0 1px 0px 0 rgba(255,255,255,0.1)");
	}
}

#content-body {
	top:135px;
	position:relative;
}

.password-reveal {
	display:none;
}

a.show-pass {
	float:none;
}

.block-message.pyro input[type="text"] {
	background:@white;
	border:none;
}

#confirm_db {
	margin-top:15px;
}

footer {
	color:@grayLightish;
	font-size:12px;
}

footer span#version {
	display:inline-block;
	color:@grayDarker;
	text-shadow:0 1px 0 @grayer;
}

footer p {
}

.help {
	max-width:450px;
	background:rgba(255,105,0,0.2);
	border:1px solid rgba(255,105,0,0.4);
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:8px;
	margin:22px 0 25px;
	float:left;
}